<h3>Quản lý phí tháng {{period.month}} năm {{period.year}}</h3>

<div>Xin chào anh/chị,</div>
<div>Hệ thống vừa cập nhật thông tin lương mới!</div>
<br/>
<div>Họ và tên: {{data.user.name.first}} {{data.user.name.last}}</div>
<div>Tháng lương: {{period.month}} năm {{period.year}}</div>
<div>Loại lương: Quản lý phí</div>
<br/>
<table border="1" cellspacing="0" cellpadding="2">
    <thead>
        <tr>
            <th colspan="4">Lương hệ số</th>
        </tr>
        <tr>
            <th>Hệ số Chức vụ chính quyền</th>
            <th>Hệ số Chức vụ Đảng/ Đoàn thể</th>
            <th>Cộng hệ số được hưởng</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{data.coefficientGovernment.value}}</td>
            <td>{{data.coefficientParty.value}}</td>
            <td>{{data.feeCoefficientSum.value}}</td>
        </tr>
    </tbody>
</table>
<br/>
<table border="1" cellspacing="0" cellpadding="2">
    <thead>
        <tr>
            <th colspan="5">Thành tiền</th>
        </tr>
        <tr>
            <th>Thành tiền</th>
            <th>Phụ cấp công việc đặc thù</th>
            <th>Cộng tiền</th>
            <th>Trừ ngày nghỉ</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{toCurrency data.feeSum.value}}</td>
            <td>{{toCurrency data.specialJob.value}}</td>
            <td>{{toCurrency data.feeAddSum.value}}</td>
            <td>{{toCurrency data.feeSubDayOff.value}}</td>
        </tr>
    </tbody>
</table>

<h3>Thành tiền: {{toCurrency data.feeSum.value}}</h3>

<div>Nếu có bất kì phản hồi hãy truy cập trang abc.com để được giải quyết</div>